@()(implicit session: Session)
<style>
    #drop:hover,#new:hover,#logout:hover {
        background-color: #F0F0F0;
    }
    .page-header.navbar.navbar-fixed-top {
        z-index: 100;
    }


</style>

<div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
            <!-- BEGIN LOGO -->
        <div class="page-logo">
            <div class="menu-toggler sidebar-toggler hide">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>


        <div class="top-menu" >
            <ul class="nav navbar-nav pull-right">

                <li>
                    <div>
                        <div class="process-bar skin-green">
                            <div class="pb-wrapper">
                                <div class="pb-highlight"></div>
                                <div class="pb-container">
                                    <div class="pb-text"></div>
                                    <div class="pb-value"></div>
                                </div>
                            </div>
                        </div>
                        <div class="disk-text"></div>
                    </div>
                </li>


                <li class="dropdown dropdown-user" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
                        style="height: 46px;">
                        <span class="username username-hide-on-mobile" style="margin-top: -10px;font-size: 13px;">
                            @session.get("admin") </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="margin-top: 6px;">
                        <li>

                        </li>
                        <li id="drop">
                            <a href="@routes.LoginController.logout()" id="logout"
                            style="font-size: 14px;margin-left: 1em;color: #888888;">
                                <i class="fa fa-user"></i> &nbsp; 退出登录 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
        $(function () {
            var i = 10/500*100;
            $(".pb-value").width( i +'%');
            $(".pb-text").html(i+'%');


            $.ajax({
                url:"@routes.AdminController.getDisk()",
                type: "get",
                dataType:"json",
                success: function (data) {
                    $(".pb-value").width( data.per +'%');
                    $(".pb-text").html(data.per +'%');
                    $(".disk-text").html("已用 "+data.use+" / 总共 " + data.all)
                }
            })



        });

</script>
